<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Database | Home</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="containter-fluid about">
  <div class="row"></div>
    <a name="about"></a>
      <h3>M U S I C D A T A B A S E <strong> | </strong> a b o u t </h3>
      <h4>M U S I C D A T A B A S E is an ecosystem that brings together music fans, bands, music labels, and brands. With more than 30 million users sharing over 15 million files, M U S I C D A T A B A S E is one of the largest on-demand music services on the Internet. Along with providing free streaming music for our users, M U S I C D A T A B A S E is also an instrument for artists, labels, and brands to develop new revenue sources from their music. By placing music directly in the hands of the listeners, M U S I C D A T A B A S E aims to diminish piracy while strengthening the relationship between listener and artist.</h4>
</div>

<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div id="wrapper">
        <ul id="gallery">
            <li>
              <a href="http://localhost:3000/artists">
                <p>A R T I S T S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/albums">
                <p>A L B U M S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/songs">
                <p>S O N G S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/static_pages/about">
                <p>A B O U T</p>
              </a>
            </li>
        </ul>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>