<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Database | Home</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <nav class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:3000/">H O M E<span class="sr-only">(current)</span></a></li>
        <li><a href="http://localhost:3000/static_pages/about">A B O U T</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">B R O W S E<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://localhost:3000/artists">A R T I S T S</a></li>
            <li class="divider"></li>
            <li><a href="http://localhost:3000/albums">A L B U M S</a></li>
            <li class="divider"></li>
            <li><a href="http://localhost:3000/songs">S O N G S</a></li>
            <li class="divider"></li>
            <li><a href="http://localhost:3000/genres">G E N R E S</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div class="containter-fluid mission">
  <div class="row"></div>
    <a name="mission"></a>
      <h3>M U S I C D A T A B A S E <strong> |</strong> View + Add + Play + Purchase </h3>
      <h4>YOUR OWN PERSONAL LIBRARY, RIGHT AT YOUR FINGERTIPS</h4>
</div>

<div class="jumbotron">
  <div class="container">
  </div>
</div>

<div id="wrapper">
        <ul id="gallery">
            <li>
              <a href="http://localhost:3000/artists">
                <p>A R T I S T S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/albums">
                <p>A L B U M S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/songs">
                <p>S O N G S</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/genres">
                <p>G E N R E S</p>
              </a>
            </li>
        </ul>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>