<div class="container">
	<div class="row">
	  <div class="col-md-8">
	  	<strong>A L B U M:</strong> <br>
		<%= image_tag(@album.cover_url, width: 300) if @album.cover.present? %>
	  </div>
	  <div class="col-md-4">
	  	<strong>S O N G S:</strong> <br>
	  	<% @album.songs.each do |song| %>
	  	<ul>
	  		<li><%= song.name %></li>
	  	</ul>	
	  	 <% end %>
	  </div>
	</div>
</div>
